<nb-card class="component-container">
  <nb-card-header>
    <img [src]="avatarImg" alt="" srcset="" />
    <span class="title">
      {{ cliente.nome }}
    </span>
  </nb-card-header>

  <nb-card-body>
    <div
      [ngClass]="
        cliente.origem === 'flamengo'
          ? 'flamengo'
          : cliente.origem === 'vale'
          ? 'vale'
          : cliente.origem === 'cpII'
          ? 'cpII'
          : 'clinica'
      "
      class="origin-tag tag"
    >
      {{ cliente.origem }}
    </div>
    <!-- <p>
      atendimentos realizados: <span>{{ clienteConsultas.length }}</span>
    </p> -->

    <ng-container *ngIf="lastConsulta && firstConsulta">
      <span>
        seu paciente desde
        {{ firstConsulta.dataConsulta['seconds'] | date: 'shortDate' }}
      </span>
      <br />
      <span>
        última consulta:
        {{ lastConsulta.dataConsulta['seconds'] | date: 'shortDate' }} às
        {{ lastConsulta.horario }}
      </span>
    </ng-container>
  </nb-card-body>

  <div class="consultas-display">
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header
          >{{ clienteConsultas.length }}
          {{
            clienteConsultas.length === 1 ? 'consulta' : 'consultas'
          }}</nb-accordion-item-header
        >
        <nb-accordion-item-body *ngFor="let consulta of clienteConsultas; let i = index">
          <span>dia {{ consulta.dataConsulta['seconds'] | date: 'fullDate' }}</span>
          <span>{{ consulta.modalidade }}</span>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</nb-card>
