<nb-card>
  <nb-card-header><h3>Login</h3></nb-card-header>
  <nb-card-body>
    <form [formGroup]="loginForm">
      <nb-form-field>
        <label for="login-input-email">Email</label>
        <input
          formControlName="email"
          type="email"
          id="login-input-email"
          placeholder="nome@email.com"
          nbInput
        />
      </nb-form-field>
      <br />
      <nb-form-field>
        <label for="login-input-password">Password</label>
        <input
          formControlName="password"
          type="password"
          id="login-input-password"
          placeholder="password"
          nbInput
        />
      </nb-form-field>

      <br />
      <button type="button" nbButton status="success" (click)="submitData()">
        <nb-icon icon="log-in-outline"></nb-icon>Login
      </button>
    </form>
  </nb-card-body>
  <nb-card-body>
    <span>Primeira vez por aqui? </span>
    <button
      type="button"
      nbButton
      status="primary"
      ghost
      (click)="navigateToSignup()"
    >
      Criar conta
    </button>
  </nb-card-body>
  <ng-content></ng-content>
</nb-card>

<!-- <nb-icon icon="arrow-left-outline"></nb-icon> -->
