.component-container {
  // border: 1px solid pink;
  border-radius: 4px;

  input#data-relatorio {
    width: 400px !important;
    pointer-events: none;
  }

  nb-card {
    padding: 16px;
    // margin: 16px 0 0;

    &#front-card {
      position: absolute;
      // width: 464px;
      width: 554px;
    }
    &#back-card {
      // position: absolute;
      width: 554px;
    }
  }

  .relatorio-default-data {
    .list-header {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      margin: 0 0 10px;

      nb-icon {
        margin: 0 4px 0 0;
      }
    }

    nb-list-item.list-row {
      padding: 0 !important;
      overflow: hidden;

      .li {
        height: 34px;
        margin-left: 4px;
        display: flex;
        align-items: center;
        line-height: 16px;
        font-size: 12px;

        &.nome {
          width: 100%;
          justify-content: center;
        }

        &.modalidade {
          margin-right: 4px;
        }
      }
    }

    .edit-button-container {
      display: flex;
      justify-content: center;
      padding: 16px 0 0;
    }
  }

  .edit-form-header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 32px 0;
  }

  .consulta-form {
    display: flex;
    margin: 6px 0;
    // border: 1px solid green;
    // flex-wrap: wrap;
    // align-items: flex-end;

    .select-wrapper {
      display: flex;
      flex-direction: column;
      // border: 1px solid grey;

      nb-select-label {
        font-size: 11px;
      }

      &.nome-paciente {
        width: 214px;
        margin-left: 2px;
        margin-right: 2px;
        nb-select {
          button {
            width: 212px !important;
            min-width: 212px !important;
            max-width: 212px !important;
          }
        }
      }

      &.horario {
        width: 92px;
        nb-select {
          button {
            width: 90px !important;
            min-width: 90px !important;
            max-width: 90px !important;
          }
        }
      }

      &.modalidade {
        width: 122px;
        nb-select {
          button {
            width: 120px !important;
            min-width: 120px !important;
            max-width: 120px !important;
          }
        }
      }
    }
  }

  .submit-btn-container {
    padding: 30px 34px 8px;
  }

  .button-wrapper {
    &:not([class='add']) {
      // todos os vermelhos
      margin: 18px 6px 0 0;
    }
    &.add {
      position: relative;
      margin: 21px 0 0 3px;
      // border: 1px solid green;

      &.no-consultas {
        position: relative;
        padding: 6px 0;
        margin: 6px;
      }
    }
  }
}
.default-placeholder {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
