<ng-container *ngIf="authState$ | async"> usuario logado </ng-container>
<nb-layout-column>
  <!--  -->
  <!-- <router-outlet></router-outlet> -->
  <nb-flip-card [showToggleButton]="false" [flipped]="flipped">
    <nb-card-front>
      <nb-card>
        <app-login (goToSignup)="flipCard()">
          <nb-card-footer>
            <p>Ou entre com</p>

            <button
              nbButton
              status="primary"
              shape="round"
              (click)="onGoogleLogin()"
            >
              <nb-icon icon="google"></nb-icon>
            </button>

            <!-- <button nbButton status="primary" shape="round" >
              <nb-icon icon="facebook"></nb-icon>
            </button> -->
          </nb-card-footer>
        </app-login>
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      hello
      <nb-card>
        <app-signup (goToLogin)="flipCard()">
          <nb-card-footer>
            <p>Ou entre com</p>

            <button
              nbButton
              status="primary"
              shape="round"
              (click)="onGoogleLogin()"
            >
              <nb-icon icon="google"></nb-icon>
            </button>

            <!-- <button nbButton status="primary" shape="round" >
              <nb-icon icon="facebook"></nb-icon>
            </button> -->
          </nb-card-footer>
        </app-signup>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>
  <!--  -->
</nb-layout-column>

<a routerLink="/profissional">Profissional</a>
<br />
<a routerLink="/admin">Admin</a>

<!-- <ngx-auth-firebaseui
    [registerButtonText]="'Crie uma conta'"
    [registerTabText]="'Crie uma conta'"
    [forgotPasswordButtonText]="'Esqueci minha senha'"
    [signInTabText]="'login'"
    [signInCardTitleText]="'Login'"
    [registerCardTitleText]="'Crie sua conta'"
    [nameText]="'nome'"
    [emailErrorPatternText]="'formato inválido'"
    [verifyEmailTitleText]="'Confirme seu endereço de email'"
    [verifyEmailConfirmationText]="confirmationText"
    [verifyEmailGoBackText]="'Voltar'"
    [sendNewVerificationEmailText]="'Enviar novo email de confirmação'"
    [signOutText]="'Logoff'"
    [goBackURL]="'/auth'"
    [messageOnEmailConfirmationSuccess]="
      'Um novo email de confirmação foi enviado. Verifique sua caixa de entrada'
    "
    [guestEnabled]="false"
    [providers]="[providers.EmailAndPassword, providers.Google]"
    [appearance]="'outline'"
    [resetPasswordTabText]="'Recuperação de senha'"
    [resetPasswordInputText]="'digite o seu email'"
    [resetPasswordErrorRequiredText]="
      'O email é necessário para recuperar de senha!'
    "
    [resetPasswordErrorPatternText]="
      'Por favor insira um endereço de email válido'
    "
    [resetPasswordActionButtonText]="'Solicitar nova senha'"
    [resetPasswordInstructionsText]="
      'Solicitação enviada. Cheque seu email e siga as instruções.'
    "
    [min]="6"
    [max]="16"
    (onStrengthChanged)="onStrengthChanged($event)"
    (onSuccess)="onSuccess($event)"
    (onError)="onError($event)"
  ></ngx-auth-firebaseui> -->
