<nb-layout-column>
  <nb-card>
    <nb-card-header><h3>Login</h3></nb-card-header>
    <nb-card-body>
      <form>
        <nb-form-field>
          <label for="input-email">Email</label>
          <input
            type="email"
            id="input-email"
            placeholder="nome@email.com"
            nbInput
          />
        </nb-form-field>
        <br />
        <nb-form-field>
          <label for="input-password">Password</label>
          <input
            type="password"
            id="input-password"
            placeholder="password"
            nbInput
          />
        </nb-form-field>

        <br />
        <button type="button" nbButton status="success">
          <nb-icon icon="log-in-outline"></nb-icon>Login
        </button>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <p>Ou entre com</p>

      <button nbButton status="primary" shape="round">
        <nb-icon icon="google"></nb-icon>
      </button>

      <button nbButton status="primary" shape="round">
        <nb-icon icon="facebook"></nb-icon>
      </button>
    </nb-card-footer>
  </nb-card>
</nb-layout-column>

<a routerLink="/profissional">Profissional</a>
<br />
<a routerLink="/admin">Admin</a>
