<p>add-clientes works!</p>
<nb-layout-column>
  <nb-card>
    <nb-card-header><h3>Cadastrar cliente</h3></nb-card-header>

    <nb-card-body>
      <form [formGroup]="clienteForm">
        <nb-form-field>
          <label for="input-nome">Nome*</label>
          <input
            formControlName="nome"
            type="text"
            id="input-nome"
            placeholder="fulano"
            nbInput
            [status]="getFieldStatus('nome')"
          />
        </nb-form-field>

        <nb-form-field>
          <label for="input-telefone">Telefone*</label>
          <input
            formControlName="telefone"
            type="text"
            id="input-telefone"
            placeholder="2199887..."
            nbInput
            [status]="getFieldStatus('telefone')"
          />
        </nb-form-field>

        <nb-form-field>
          <label for="input-email">Email</label>
          <input
            formControlName="email"
            type="email"
            id="input-email"
            placeholder="nome@email.com"
            nbInput
            [status]="getFieldStatus('email')"
          />
        </nb-form-field>

        <nb-form-field>
          <label for="input-endereco">Endereço</label>
          <input
            formControlName="endereco"
            type="text"
            id="input-endereco"
            placeholder="rua ... número, complemento - bairro"
            nbInput
            [status]="getFieldStatus('endereco')"
          />
        </nb-form-field>

        <nb-form-field>
          <div class="select-wrapper">
            <nb-select-label for="selcet-origem">Origem*</nb-select-label>
            <nb-select
              formControlName="origem"
              id="selcet-origem"
              [selected]="origens[0]"
              [status]="getFieldStatus('origem')"
            >
              <nb-option *ngFor="let origem of origens" [value]="origem">
                {{ origem }}
              </nb-option>
            </nb-select>
          </div>
        </nb-form-field>

        <p><strong>*</strong> Campos obrigatórios</p>

        <button
          nbButton
          type="button"
          status="success"
          size="small"
          [disabled]="clienteForm.invalid"
          (click)="saveCliente()"
        >
          <!-- appearance="hero" -->
          <nb-icon icon="plus-outline"></nb-icon> pronto
        </button>
      </form>
    </nb-card-body>
  </nb-card>
</nb-layout-column>
