.page-container {
  width: 100vw;

  .section-header {
    padding: 5px 25px;
    h3 {
      margin: 0;
    }
  }

  nb-card-header {
    display: flex;
    h5 {
      margin: 0;
    }
  }

  nb-card-body.relatorios {
    // width: calc(100% - 21px);
    border: 1px solid lightcoral;
    width: 940px;
    display: flex;
    // flex-wrap: wrap;

    .calendar-container {
      border: 1px solid lightcoral;
      height: 330px;
      width: 266px;
      display: flex;
      align-items: center;
      justify-content: center;
      nb-calendar {
        transform: scale(0.8);
      }
    }

    .consultas-edit-container {
      border: 1px solid lightcoral;
      width: 595px;
      height: fit-content;
      display: flex;
      justify-content: center;

      .default-placeholder {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .clientes-container {
    // border: 1px solid lightcoral;

    // border: 1px solid orange;
    width: calc(100% - 21px);
    display: flex;
    overflow-x: auto;
    transform: rotateX(180deg);

    .card-wrapper {
      transform: rotateX(180deg);
    }
  }
}
