<nb-card>
  <nb-card-header><h3>Crie sua conta</h3></nb-card-header>
  <nb-card-body>
    <form [formGroup]="signupForm">
      <nb-form-field>
        <label for="input-nome">Nome</label>
        <input
          formControlName="nome"
          type="text"
          id="input-nome"
          placeholder="nome"
          nbInput
        />
      </nb-form-field>
      <br />

      <nb-form-field>
        <label for="input-email">Email</label>
        <input
          formControlName="email"
          type="email"
          id="input-email"
          placeholder="nome@email.com"
          nbInput
        />
      </nb-form-field>
      <br />
      <nb-form-field>
        <label for="input-password">Password</label>
        <input
          formControlName="password"
          type="password"
          id="input-password"
          placeholder="password"
          nbInput
        />
      </nb-form-field>

      <br />
      <button type="button" nbButton status="success" (click)="submitData()">
        <nb-icon icon="checkmark-outline"></nb-icon>Confirmar
      </button>

      <button type="button" nbButton status="basic">
        <a routerLink="auth/login" style="text-decoration: none;">
          <nb-icon icon="arrow-back-outline"></nb-icon>Voltar
        </a>
      </button>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <p>Ou entre com</p>

    <button nbButton status="primary" shape="round">
      <nb-icon icon="google"></nb-icon>
    </button>

    <button nbButton status="primary" shape="round">
      <nb-icon icon="facebook"></nb-icon>
    </button>
  </nb-card-footer>
</nb-card>
