<nb-layout class="app-container">
  <nb-layout-header class="header-container" fixed>
    <app-header>
      <ng-container *ngIf="user$ | async as user; else unnamed">
        <span class="user-name"> {{ user.nome }}</span>
      </ng-container>
      <ng-template #unnamed> Laços </ng-template>
    </app-header>
  </nb-layout-header>

  <nb-layout-column>
    <div class="page-container">
      <ng-container *ngIf="user$ | async as user; else login">
        <router-outlet></router-outlet>
      </ng-container>
      <!-- </ng-container> -->
      <ng-template #login><app-auth></app-auth></ng-template>
    </div>

    <ng-container *ngIf="appData$ | async as appData">
      <!-- <pre>{{ appData | json }}</pre> -->
    </ng-container>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>
</nb-layout>
