<nb-layout class="app-container">
  <nb-layout-header class="header-container" fixed>
    <app-header>
      <ng-container *ngIf="user$ | async as user">
        <span class="user-name"> {{ user.nome }}</span>
      </ng-container>
    </app-header>
  </nb-layout-header>

  <nb-layout-column>
    <div class="page-container">
      <!-- <ng-template #login>
        <button (click)="authService.googleSignin()">Login com Google</button>
      </ng-template> -->

      <!-- ROUTER OUTLET -->
      <router-outlet></router-outlet>
      <!-- ///// -->
    </div>
  </nb-layout-column>

  <div
    class="user-auth-data-container"
    *ngIf="authService.user$ | async as user"
  >
    <pre>{{ user | json }}</pre>

    <!-- <button (click)="authService.signOut()">Sign Out</button> -->
  </div>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>
</nb-layout>
