<ng-container *ngIf="routerState$ | async as routerState">
  <div class="left-column">
    <div class="menu-container">
      <nb-menu
        class="header-menu"
        [autoCollapse]="true"
        [items]="menuItems"
      ></nb-menu>
    </div>

    <img class="lacos-logo" [src]="lacosIcon" />

    <!-- <button
      nbButton
      shape="round"
      size="small"
      appearance="ghost"
      (click)="onMenuToggle()"
    >
      <nb-icon icon="menu-outline"></nb-icon>
    </button> -->

    <!--  -->
    <div class="action-block" [ngSwitch]="true">
      <div *ngSwitchDefault></div>
      <!-- shape="round" -->

      <div *ngSwitchCase="routerState === 'profissional'">
        <button
          nbButton
          status="success"
          size="small"
          appearance="ghost"
          (click)="goToPage(routerState)"
        >
          <nb-icon icon="plus-outline"></nb-icon> novo relatório
        </button>
      </div>

      <div *ngSwitchCase="routerState === 'novo relatorio'">
        <button
          nbButton
          size="small"
          shape="round"
          appearance="ghost"
          (click)="goToPage(routerState)"
        >
          <nb-icon icon="arrow-back-outline"></nb-icon>
        </button>
      </div>

      <div *ngSwitchCase="routerState === 'admin'">
        <button
          nbButton
          status="success"
          size="small"
          appearance="ghost"
          (click)="goToPage(routerState)"
        >
          <nb-icon icon="person-add-outline"></nb-icon> cadastrar clientes
        </button>
      </div>

      <div *ngSwitchCase="routerState === 'clientes'">
        <button
          nbButton
          size="small"
          appearance="ghost"
          (click)="goToPage(routerState)"
        >
          <nb-icon icon="arrow-back-outline"></nb-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="page-title">
    <span>{{ routerState | titlecase }}</span>
  </div>

  <div class="avatar-block">
    <img class="avatar-img" [src]="defaultUserIcon" />
  </div>
</ng-container>
