h4.selected-date {
  margin: 12px auto;
}

nb-calendar {
  nb-card {
    transform: scale(0.85) translate(-29px, -29px);
    margin-bottom: -52px !important;
  }
}

.consulta-form {
  // border: 1px solid green;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  .select-wrapper {
    display: flex;
    // border: 1px solid grey;
    flex-direction: column;
    width: 212px;

    nb-select {
      padding: 1px;
      // width: 100px;
      //   .select-button {
      //     width: 196px !important;
      //     min-width: 196px !important;
      // }
    }
  }
}
