h4.selected-date {
  margin: 12px auto;
}

nb-calendar {
  nb-card {
    transform: scale(0.85) translate(-29px, -29px);
    margin-bottom: -52px !important;
  }
}

.consulta-form {
  // border: 1px solid green;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 6px 0;

  .select-wrapper {
    display: flex;
    // border: 1px solid grey;
    flex-direction: column;

    &.nome-paciente {
      width: 214px;
      margin-left: 2px;
      nb-select {
        button {
          width: 212px !important;
          min-width: 212px !important;
          max-width: 212px !important;
        }
      }
    }

    &.horario {
      width: 92px;
      nb-select {
        button {
          width: 90px !important;
          min-width: 90px !important;
          max-width: 90px !important;
        }
      }
    }

    &.modalidade {
      width: 110px;
      nb-select {
        button {
          width: 108px !important;
          min-width: 108px !important;
          max-width: 108px !important;
        }
      }
    }
  }
}

.button-wrapper.no-consultas {
  padding: 6px 0;
  margin: 6px;
  // border: 1px solid red;
}

nb-list-item.list-row {
  padding: 0 !important;
  overflow: hidden;

  .li {
    height: 36px;
    // border: 1px solid blue;
    margin-left: 4px;
    display: flex;
    align-items: center;
    line-height: 16px;

    &.nome {
      width: 100%;
      justify-content: center;
    }

    &.modalidade {
      margin-right: 4px;
    }
  }
}

//ajusta padding dos steps sem mexer no calendário
nb-card-body:not([ng-reflect-ng-switch="date"]) {
  // border: 1px solid red;
  padding: 16px 8px !important;
}

.instruction {
  font-size: 20px;
  font-weight: 300;
  // background: lightcoral;
}

@media screen and(max-width: 528px) {
  .li {
    font-size: 12px;
    line-height: 12px !important;
    nb-icon {
      font-size: 14px;
    }
  }
}
