<!-- <p>novo-relatorio works!</p> -->
<nb-card>
  <nb-card-body>
    <nb-stepper #stepper>
      <nb-step label="Selecione a Data" [stepControl]="calendarForm">
        <!-- <app-calendar-form></app-calendar-form> -->
        <form [formGroup]="calendarForm">
          <span>selecione a data</span>
          <nb-calendar
            [date]="date"
            (dateChange)="handleDateChange($event)"
          ></nb-calendar>
          <h4 class="selected-date">{{ date | date }}</h4>
          <!-- <input readonly nbInput [value]="date" formControlName="date" /> -->
          <button nbButton status="success" [disabled]="!date" nbStepperNext>
            <nb-icon icon="arrow-right"></nb-icon>
            Próximo
          </button>
        </form>
      </nb-step>

      <nb-step label="Relatório" [stepControl]="reportForm">
        <div *ngFor="let consulta of getConsultasControls(); let i = index">
          <!-- [formGroup]="consultaForm" -->
          <!-- <nb-form-field> -->
          <button
            *ngIf="i > 0"
            nbButton
            shape="round"
            status="danger"
            (click)="removeConsulta(i)"
          >
            <nb-icon icon="close-outline"></nb-icon>
          </button>

          <div class="select-wrapper">
            <nb-select-label>Paciente</nb-select-label>
            <nb-select nbInput>
              <!-- <nb-option *ngFor="let consulta of reportForm"></nb-option> -->
            </nb-select>
          </div>
          <!-- </nb-form-field> -->

          <!-- <nb-form-field> -->
          <div class="select-wrapper">
            <nb-select-label>Horário</nb-select-label>
            <nb-select nbInput>
              <nb-option *ngFor="let hora of horarios" [value]="hora">
                {{ hora }}
              </nb-option>
            </nb-select>
            <!-- </nb-form-field> -->
          </div>
          <div class="select-wrapper">
            <!-- <nb-form-field> -->
            <nb-select-label>Modalidade</nb-select-label>
            <nb-select nbInput [selected]="modalidades[0]">
              <nb-option
                *ngFor="let modalidade of modalidades"
                [value]="modalidade"
              >
                {{ modalidade }}
              </nb-option>
            </nb-select>
            <!-- </nb-form-field> -->
          </div>

          <button
            nbButton
            shape="round"
            status="success"
            (click)="addConsulta()"
          >
            <nb-icon icon="plus-outline"></nb-icon>
          </button>
        </div>

        <button nbButton nbStepperPrevious>
          <nb-icon icon="arrow-back-outline"></nb-icon>
          Voltar
        </button>

        <button nbButton status="success" nbStepperNext>
          <nb-icon icon="arrow-right"></nb-icon>
          Próximo
        </button>
      </nb-step>

      <nb-step label="Revisão" [stepControl]="calendarForm">
        <button nbButton nbStepperPrevious>
          <nb-icon icon="arrow-back-outline"></nb-icon>
          Voltar
        </button>

        <button nbButton status="success" nbStepperNext>
          <nb-icon icon="arrow-right"></nb-icon>
          Próximo
        </button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
<!-- <input [nbDatepicker]="datepicker" />
<nb-datepicker #datepicker></nb-datepicker> -->
