<p>novo-relatorio works!</p>
<nb-card>
  <nb-card-body>
    <nb-stepper #stepper>
      <nb-step label="Selecione a Data" [stepControl]="calendarForm">
        <!-- <app-calendar-form></app-calendar-form> -->
        <ng-container>
          <form>
            <span>selecione a data</span>
            <nb-calendar
              [date]="date"
              (dateChange)="handleDateChange($event)"
            ></nb-calendar>
            <h4 class="selected-date">{{ date | date }}</h4>
            <button nbButton status="success" [disabled]="!date" nbStepperNext>
              Próximo
            </button>
          </form>
        </ng-container>
      </nb-step>

      <nb-step label="Relatório" [stepControl]="reportForm">
        <!-- <app-report-form></app-report-form> -->
        <button nbButton nbStepperPrevious>
          <nb-icon icon="arrow-back-outline"></nb-icon> Voltar
        </button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
<!-- <input [nbDatepicker]="datepicker" />
<nb-datepicker #datepicker></nb-datepicker> -->
