// nb-calendar-picker-row {
// background: lightblue;
// }

.custom-calendar {
  app-custom-day-cell {
    // background: lightseagreen;
    pointer-events: none;
    width: 2.4rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: none;

    &.bounding-month {
      color: #808080;
    }
  }
  .day-cell {
    pointer-events: all;
    border-radius: 8px;
    background: #f5b5b5;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      border: 2px solid #ffe0e0;
    }

    &.selected {
      background: lightcoral;
    }

    span.date-number {
      line-height: 2px;
      margin-top: 24px;
    }

    &.bounding-month {
      color: #fff !important;
    }
  }
}
span.total-consultas-number {
  font-size: 10px;
  font-weight: 300;
}
