@import "themes";

@import "~@nebular/theme/styles/globals";

@include nb-install() {
  @include nb-theme-global();
}
/* You can add global styles to this file, and also import other style files */
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  nb-layout,
  nb-layout-column {
    padding: 0 !important;
  }

  .layout-container {
    padding-top: 3.45rem !important;
  }

  nb-layout-header,
  nb-layout-footer {
    nav {
      height: 54px !important;
      padding: 8px !important;
    }
  }
}
